@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: linear-gradient(135deg, #6b21a8, #1e1b4b, #6b21a8);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
